
/clippy/Obfuscator_Output
/clippy/Obfuscator_Input
/clippy/clippy/bin
/clippy/clippy/obj
/clippy/ClippyLib/bin
/clippy/ClippyLib/obj
/clippy/ConsoleClippy/obj
/clippy/ConsoleClippy/bin
/clippy/Final
/clippy/Installer/obj
/clippy/Installer/bin