/bin/*~
clippy/clippy/bin/*
clippy/clippy/obj/*
ClippyLib/bin/*
ClippyLib/obj/*
ConsoleClippy/obj/*
ConsoleClippy/bin/*
clippy/Final
Installer/obj/*
Installer/bin/*
Manip/bin/*
Manip/obj/*
/clippy/obj/*

